.opcoes {
  font-size: 30px;
  font-family: "Segoe UI", sans-serif;
  color: #255283;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;

  margin: auto;
  padding: 3rem;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opcoes h2 {
  margin: 3rem;
}

.galery img {
  width: 20rem;
  margin: 1rem;
}

@media (max-width: 720px) {
  .opcoes h2 {
    margin: 2rem 0;
    font-size: 1.6rem;
  }

  .opcoes {
    padding: 0;
  }
}
