.formulario {
    font-size: 2.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #255283; 
    font-weight: bold;
    text-align: center;
}

.conta {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #255283; 
    font-weight: bold;
    text-align: center;
}

.text{
    width: 40vw;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 2rem;
    border: 3px solid #235284;
}

.question label{
    font-size: 2.4rem;
    margin: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    margin: .4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    padding: 4rem;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.social img{
    margin: 1rem;
}

@media (max-width: 720px){
    .container {
        flex-direction: column;
    }

    .formulario{
        text-align: center;
        font-size: 1.6rem;
    }

    .question label{
        font-size: 1.6rem;
    }

    .text{
        width: 100%;
    }

    .container{
        padding: 0;
        margin-top: 1rem;
    }

    .button{
        width: 60%;
    }

    .conta{
        display: flex;
        align-items: center;
    }

    .conta h2{
        font-size: 1.6rem;
    }
}