* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    max-height: 100%;
}

/* html{
    width: 100vw;
    height: 100vh;
} */

/*inicio*/


/* img {
    position: relative;
    left: 100px;
    margin-top: 30px;
    margin-left: 3px;
    top: 18px;
} */

/* .link { 
    color: #235284;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: bottom;
   } */

/* .link {
    text-decoration: none;
    position: relative;
    left: 500px;
    margin-top: 10px;
   } */

/* .link:after{
    content: "";
    position: absolute;
    background-color: #235284;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
} */

/* .link:hover{
    color: rgb(0, 48, 138);
}
.link:hover:after{
     width: 100%;
} */

.intro {
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1rem;
    color:#255283;

    margin: 3rem;

    align-items: center;
    justify-content: space-between;
}

.intro .left{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro img{
    width: 40rem;
}

.gif { 
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right;
    /* position: relative;
    right: 20%;
    top: 75px; */
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* h1{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#255283;
    position: absolute;
    top: 440px;
    left: 100px;
 } */

 
button {
    width: 32rem;
    height: 3rem;
    border: 3px solid #235284;
    border-radius: 3rem;
    margin-top: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
}

button:hover {
    background: #235284;
    color: white;
    font-size: 2.0 em;
}


.motivos {
    font-family: 'Segoe UI', sans-serif;
    color: #255283; 
    font-weight: bold;
    height: auto;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.motivos .motivos-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.motivos1{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #255283;
    justify-content: space-evenly;
}

.motivos2{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #255283;
    justify-content: space-evenly;
}

.motivos .motivos-container .motivos1,
.motivos .motivos-container .motivos2 {
    flex-basis: 50%;
    padding: 1rem;
    height: 18rem;
  }

.motivos h2{
    font-size: 3rem;
}

.motivos p{
    font-size: 1.8rem;
    margin: 1rem;
}

/* .motivos {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #255283; 
    font-weight: bold;
    position: absolute;
    top: 1050px;
    left: 320px;
}

.motivos2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #255283; 
    font-weight: bold;
    position: absolute;
    top: 1050px;
    left: 1010px;
} */

/* .linha {
    position: absolute;
    top: 975px;
    left: 790px;
} */


.embora {
    font-size: 2rem;
    font-family: 'Segoe UI', sans-serif;
    color:#255283;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    margin-top: 16rem;
}

.embora_text{
    margin: 2rem;
    width: 50%;
    text-align: center;
}

.embora p{
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
}


/* .embora2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    position: absolute;
    top: 1800px;
    left: 100px;
} */

.boneco {
    height: 20rem;
}

.risco {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #255283; 
    font-weight: bold;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    margin: 10rem 5rem 0;
}

.risco_text{
    width: 50%;
    text-align: center;
}

.risco2 p{
    font-size: 1.8rem;
    color:white;
}

.button2 {
    width: 14rem;
    height: 50px;
    border: 3px solid #235284;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.8rem;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.button2:hover {
    background: #235284;
    color: white;
    font-size: 2.0 em;
  }

.nuvem2 {
    position: absolute;
    top: 52rem;
    right: 4rem;
    opacity: 60%;
    z-index: -1;
}

.nuvem3 {
    opacity: 76%;
    text-align: end;
    margin: 4rem;
}
.nuvem4 {
    position: absolute;
    top: 1775px;
    left: 1090px;
}
.nuvem5 {
    position: absolute;
    top: 2550px;
    left: 1250px;
}
.nuvem6 {
    position: absolute;
    top: 2700px;
    left: 25px;
}

@media(max-width: 480px){
    .intro{
        display: flex;
        flex-direction: column-reverse;
        font-size: .8rem;
        margin: 1rem;
        margin-top: 3rem;
    }

    .intro img{
        width: 24rem;
        margin: 2rem 0;
    }

    button {
        width: 16rem;
        font-size: .8rem;
    }

    .motivos{
        margin: 1rem;
        margin-top: 2rem;
    }

    .motivos h2{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .motivos p {
        font-size: .9rem;
    }

    .motivos .motivos-container .motivos1,
    .motivos .motivos-container .motivos2 {
    height: 14rem;
  }

    .embora{
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    .embora_text{
        width: 100%;
        margin: 1rem;
    }

    .embora_text h2{
        font-size: 1.8rem;
    }

    .embora_text p{
        font-size: 1rem;
    }

    .boneco{
        width: 16rem;
    }

    .nuvem{
        display: none;
    }

    .risco{
        flex-direction: column-reverse;
        margin: 2rem;
        align-items: center;
    }

    .risco p{
        font-size: 1rem;
        margin: 1rem;
    }

    .risco h2{
        font-size: 1.8rem;
    }

    .risco_text{
        width: 100%;
        margin: 1rem;
    }

    .boneco2{
        width: 18rem;
        margin-bottom: 2rem;
    }

    .button2{
        width: 10rem;
        font-size: 1.3rem;
    }

    .nuvem3{
        display: none;
    }
}