* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        white 40%,
        #449bd2
    );
}

img {
    position: relative;
    left: 100px;
    margin-top: 30px;
    margin-left: 3px;
    top: 18px;
}
.link { 
    color: #235284;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: bottom;
   }

.link {
    text-decoration: none;
    position: relative;
    left: 500px;
    margin-top: 10px;
   }

.link:after{
    content: "";
    position: absolute;
    background-color: #235284;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.link:hover{
    color: rgb(0, 48, 138);
}
.link:hover:after{
     width: 100%;
}

.gif {
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 150px;
    top: 50px;
    
}
.metodos{

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 870px;
    top: 250px;
    color: #235284;
}
    
.gif { 
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 710px;
    top: 40px;
}
.respiração{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 350px;
    top: 870px;
   text-align: center;
    color:  #235284;
}

button {
    width: 500px;
    height: 60px;
    border: 3px solid #235284;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 690px;
    top: 390px;
  }
  
  button:hover {
    background: #235284;
    color: white;
    font-size: 2.0 em;
  }
     
.metodos2{

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 500px;
    top: 280px;
    color: #235284;
}

.cinco{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 500px;
    top: 800px;
   text-align: center;
    color:  #235284;
}

.gifcinco { 
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 690px;
    top: 195px;
}

.mensagem1{   
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 position: absolute;
 top: 950px;
 right: 570px;
 border-radius: 10%;
 
}

button2{
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
background-color:#255283;
border-radius: 30px;
border-color: #255283;
width: 300px;
height: 50px;
position: relative;
top: 130px;
left: 270px;

}

.metodos3{

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 840px;
    top: 280px;
    color: #235284;
}

.quatro{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 560px;
    top: 800px;
   text-align: center;
    color:  #235284;
}

.gifquatro { 
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 690px;
    top: 195px;
}
.mensagem2{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 990px;
    right: 570px;
    border-radius: 10%;
    
   }

button3{
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
background-color:#255283;
border-radius: 30px;
border-color: #255283;
width: 300px;
height: 50px;
position: relative;
top: 130px;
left: 270px;

}
.metodos4{

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 840px;
    top: 280px;
    color: #235284;
}

.tres{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 600px;
    top: 800px;
   text-align: center;
    color:  #235284;
}

.giftres { 
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 690px;
    top: 195px;
}
.mensagem3{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 990px;
    right: 570px;
    border-radius: 10%;
    
   }
button4{
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
background-color:#255283;
border-radius: 30px;
border-color: #255283;
width: 300px;
height: 50px;
position: relative;
top: 130px;
left: 270px;

}
.metodos5{

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 750px;
    top: 280px;
    color: #235284;
}

.dois{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 520px;
    top: 800px;
   text-align: center;
    color:  #235284;
}

.gifdois { 
     transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 690px;
    top: 195px;
}

button5{
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
background-color:#255283;
border-radius: 30px;
border-color: #255283;
width: 300px;
height: 50px;
position: relative;
top: 130px;
left: 270px;

}
.metodos6{

    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 880px;
    top: 280px;
    color: #235284;
}

.um{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 390px;
    top: 800px;
   text-align: center;
    color:  #235284;
}

.gifum { 
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    border-radius: 100%;
    text-align: right; 
    padding: 70px;
    position: relative;
    right: 690px;
    top: 195px;
}

button5{
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
background-color:#255283;
border-radius: 30px;
border-color: #255283;
width: 300px;
height: 50px;
position: relative;
top: 130px;
left: 270px;

}
