body {
  background-image: linear-gradient(#3170b8 40%, #449bd2);
}

.pulo {
  width: 22rem;
  margin: auto;
}

.escrita {
  font-size: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e6e6e6;
  text-align: center;
}

@keyframes go-back1 {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes go-back2 {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes go-back3 {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes go-back4 {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  margin: 0;
}

svg {
  width: 100%;
}

.button a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #235284;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 3rem;
    background-color: #fff;
    transition: .3s;
    border-radius: 2rem;
    border: 3px solid #235284;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin: auto;
    margin-bottom: 3rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}